@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Roboto:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: #000000;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 1rem 0;
    background-color: rgb(36, 35, 35);;
}

.toggle-button {
    cursor: pointer;
    border: 0;
    width: 3.5em;
    height: 3em;
    padding: 0;
    background-color: #07070721;
    color: white;
    transition: opacity 250ms ease;
    
    position: relative;
    left: 0;
  }
.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}
.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.logo{
    font-size: calc(20px + 0.390625vw);
    font-weight: 600;
    text-decoration: none;
    color: #E1E1E1;
}

.menu {
    display: none;
    position: absolute;
    font-size: 1rem;
    left: 0;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    width: 70%;
    height: 95vh;
  }

.menu.active {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    border: none;
}

.menu-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border: none; 
}

.nav__link{
    text-decoration: none;
    color: #3b3a3a;
    font-size: calc(20px + 0.390625vw);
    padding: 10px;
}

.nav__link:hover, 
.nav__link:focus{
    background-color: #000000;
    color: #ffffffda;
}

.hero__text{
    h1{
        color: #E1E1E1;
        font-size: calc(24px + 0.390625vw);
        margin: 0;
        padding-top: 20px;
    }
    p{
        color: rgb(255, 254, 254);
        font-size: calc(18px + 0.390625vw);
    }
}

.hero_img{
    height: 350px;
   img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 20px solid rgb(36, 35, 35);
    border-radius: 50%;
   }
}
.btn-row{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
.btn{
    cursor: pointer;
    font-size: calc(16px + 0.390625vw);
    font-weight: 500;
    padding: 10px;
    width: 10.5rem;
    border: none;  
}
.btn:nth-child(1){
    background-color: #1b8b4a;
    color: #FFF;
}
.btn:nth-child(1):hover{
    opacity: .7;
}
.btn:nth-child(2){
    background-color:rgb(36, 35, 35); 
    color: #FFF;
    border: 2px solid #FFF;
}
.btn:nth-child(2):hover{
    background-color:#ffffff;
    opacity: .6;
    color: #000000;
}

.about p{
    color: #E1E1E1;
    font-size: calc(16px + 0.390625vw);
}
h2{
    color: #E1E1E1;
    font-size: calc(20px + 0.390625vw);
}
/* .card{
    background-color: rgb(255, 254, 254);
    font-size: calc(12px + 0.1vw);
    margin: 10px 0;
} 
 */
.cards-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 8px 0px; */
    margin: 0;
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: all 0.2s;
}
.cards-holder::-webkit-scrollbar {
    height: 5px;
    width: 5px; 
}

 .cards-holder::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 8px;
}
.cards-holder::-webkit-scrollbar-thumb{
    background-color: rgb(31, 161, 60);
    border-radius: 5px;
}
.cards {
    min-width: 388px;
    background-color: #141414d3;
    border-bottom: 10px solid #1b8b4a;
    scroll-snap-align: start;
    transition: all 0.2s;
}
.cards p{
    color: #9c9999;
    font-size: calc(26px + 0.390625vw);
    margin: 0;
    padding: 10px 25px;
}
 
.cards div {
    width: 100%;
    height: 350px;
    object-fit: contain;
    cursor: move;
    cursor: grab;
}

.cards div:active {
    cursor: grabbing;
}