@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
}

h2 {
    color: #E1E1E1;
    font-size: calc(20px + 0.390625vw);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 1rem 0;
    background-color: rgba(82, 78, 78, 0.13);

}

.toggle-button {
    cursor: pointer;
    border: 0;
    width: 3.5em;
    height: 3em;
    padding: 0;
    background-color: #07070721;
    color: white;
    transition: opacity 250ms ease;

    position: relative;
    left: 0;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.logo {
    font-size: calc(20px + 0.390625vw);
    font-weight: 600;
    text-decoration: none;
    color: #E1E1E1;
}

.menu {
    display: none;
    position: absolute;
    font-size: 1rem;
    left: 0;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    width: 70%;
    height: 95vh;
}

.menu.active {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    border: none;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    border: none;
}

.nav__link {
    text-decoration: none;
    color: #3b3a3a;
    font-size: calc(20px + 0.390625vw);
    padding: 10px;
}

.nav__link:hover,
.nav__link:focus {
    background-color: #000000;
    color: #ffffffda;
}

.hero__text {
    h1 {
        color: #E1E1E1;
        font-size: calc(24px + 0.390625vw);
        margin: 0;
        padding-top: 20px;
    }

    p {
        color: rgb(255, 254, 254);
        font-size: calc(18px + 0.390625vw);
    }
}

.hero_img {
    height: 50vh;
    width: 90%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 20px solid rgb(8, 8, 8);
        border-radius: 50%;
    }
}

.btn-row {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    font-size: calc(16px + 0.390625vw);
    font-weight: 500;
    padding: 10px;
    width: 9.8rem;
    border: none;
    text-align: center;
    text-decoration: none;
}

.btn:nth-child(1) {
    background-color: #1b8b4a;
    color: #FFF;
}

.btn:nth-child(1):hover {
    opacity: .7;
}

.btn:nth-child(2) {
    background-color: rgb(36, 35, 35);
    color: #FFF;
    border: 2px solid #FFF;
}

.btn:nth-child(2):hover {
    background-color: #ffffff;
    opacity: .6;
    color: #000000;
}

main {
    display: flex;
    flex-direction: column;
}

.para_text {
    color: #E1E1E1;
    font-size: calc(16px + 0.390625vw);
}

.socials {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.socials a img {
    width: 50px;
    height: 50px;
}

.card {
    margin-top: 5px;
}

.cards-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 8px 0px; */
    margin: 0;
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: all 0.2s;
}

.cards-holder::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.cards-holder::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 8px;
}

.cards-holder::-webkit-scrollbar-thumb {
    background-color: rgb(31, 161, 60);
    border-radius: 5px;
}

.cards {
    min-width: 388px;
    background-color: #141414f8;
    border-bottom: 10px solid #1b8b4a;
    scroll-snap-align: start;
    transition: all 0.2s;
    margin-bottom: 10px;
}

.cards p {
    color: #9c9999;
    font-size: calc(26px + 0.390625vw);
    margin: 0;
    padding: 10px 25px;
}

.cards div {
    width: 100%;
    height: 350px;
    object-fit: contain;
    cursor: move;
    cursor: grab;
}

.cards div:active {
    cursor: grabbing;
}

.skills {
    margin-top: 15px;
}

.skills-card {
    background-color: #141414f8;
    padding: 15px 0;
    box-shadow: 0px 2px 8px 2px #141414f8;

    div {
        padding: 15px 0;
    }
}

.skills-card p {
    text-align: center;
    font-size: calc(60px + 0.390625vw);
    color: #838080;
    margin: 0;
}

.skills-card h2 {
    margin: 0;
    text-align: center;
    font-size: calc(26px + 0.390625vw);
    color: #1b8b4a;
}

.footer {
    margin-top: 50px;

    h2 {
        text-align: center;
    }

    h3 {
        color: #c4c4c4;
        text-align: center;
    }
}

.input_field {
    font-size: calc(16px + 0.390625vw);
    width: 100%;
    color: #838080;
    transition: all 0.2s;
    margin-top: -5px;
    border: none;
    border-bottom: 3px solid gray;
    background-color: transparent;
}

.msg_box {
    margin-top: 8px;
    border: 3px solid gray;
    background-color: transparent;
    color: #dbd6d6;
    font-size: calc(16px + 0.390625vw);
}

.msg_box:active {
    border: none;
}

.input_label {
    font-size: calc(16px + 0.390625vw);
    color: #838080;
}

.input_frm div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input_frm .btn {
    width: 100%;
}


/* Resume Design */
.profile{
    margin-top: 68px;
    
}
.profile_img{
    width: 100%;
   img{
    width: 100%;
    
   }
}
.intro{
    position: relative;
   top: -119px;
   background-color: #201f1ec5;
   padding-top: 10px;
   padding-bottom: 5px;
   h1{
    padding-top: 5px;
   }
    p{
    margin-top: 0;
    padding: 0;
}
}
.profile_summary{
    margin-top: -120px;
    background-color: #ffffff;
    padding-top: 50px;
    p{
        color: #000000;
        font-size: 16px;
    }
}
.info{
    background-color: #ffffff;
}
.education{
    margin-top: 30px;
    div p:nth-child(3){
        font-weight: bold;
        color: #2baa62;
    }
    div{
        margin-bottom: 20px;
    }
    div p{
        font-size: 18px;
        margin: 0;
    }
    div h2{
        color: #080808f6;
        margin: 0;
        font-size: 18px;
    }
    h2{
        color: rgb(15, 8, 3);
    }
}

@media (min-width: 900px) {
    body {
        margin: 0 auto;
    }

    .container {
        width: 80%;
    }

    .header {
        width: 80%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        background-color: transparent;

        .header-left {
            display: flex;
            flex-direction: row;
            background-color: transparent;
            margin-top: 20px;
        }

        .toggle-button {
            display: none;
        }

        .menu {
            display: block;
            position: relative;
            background-color: transparent;
            border: none;
            width: 33%;
            height: 5.5vh;
            margin: auto 0;
        }

        .menu-items {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: auto;
            border: none;
        }

        .nav__link {
            color: #d1d0d0;
        }

        .nav__link:hover {
            border-bottom: 5px solid#d6d1d1;
        }
    }

    .hero {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-top: 60px;

        .hero__text {
            h1 {
                font-size: calc(36px + 0.390625vw);
            }

            p {
                font-size: calc(22px + 0.390625vw);
            }
        }

        .btn-row {
            margin: 2rem 0;
            width: 80%;
        }

        .hero_img {
            width: 30%;
        }
    }

    .about {
        width: 60%;
        margin: 50px auto;

        h2 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .socials {
            margin-top: 60px;
            gap: 60px;
        }
    }

    .card {
        
        h2 {
            text-align: center;
        }

        .cards-holder {
            margin-top: 60px;
            justify-content: space-between;
            overflow-x: hidden;
        }
    }
    .cards {
        min-width: 0;
        flex-basis: 340px;
    }
    
    .skills {
        margin-top: 50px;

        h2 {
            text-align: center;
        }

        .skills-card {
            margin-top: 50px;
            display: flex;

            div {
                padding: 15px 0;
                flex-shrink: 1;
                flex-grow: 1;
            }
        }
    }

    .footer {
        width: 30%;
        margin-top: 70px;  
    }
}