*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: #070707;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid white;
    /* added for nav-toggle positioning */
    position: relative;
}
.row{
    padding: 10px;
    display: flex;
}
.nav {
    width: 100%;
    font-size: 1rem;
}
.nav__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__item{
    margin-top: .75em;
}
.nav__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}

.nav__link:hover, 
.nav__link:focus{
    opacity: .65;
}

.nav__list--primary{
    margin-bottom: 1em;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 2em;
    padding: 0;
    background-color: transparent;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

/* made changes here from video
   to make it more accessible.
   
   Works the same :) */
.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
} 
.logo{
    margin:.17em 0 0 1.3em;
    font-size: calc(18px + 0.390625vw);
    font-weight: 600;
    text-decoration: none;
    color: #FFF;
}
.hero__text{
    h1{
        color: #ffffffda;
        font-size: calc(24px + 0.390625vw);
    }
    p{
        color: rgb(161, 159, 159);
        font-size: calc(17px + 0.390625vw);
    }
}
.hero_img{
    margin-top: 15px;
    width: 100%;
    border-radius: 60%;
}